<!-- app/views/foods/show.html.erb -->
<h1><%= @food.name %></h1>
<p>Measurement unit: <%= @food.measurement_unit %></p>
<p>Unit price: <%= @food.price %></p>
<%= link_to 'Back to Food List', foods_path, class: 'btn btn-primary' %>
