.recipe {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe_box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border: solid 1px grey;
  border-radius: 5px;
}

.description {
  width: 70%;
}
